{% extends "index.html" %}

{% block content %}

<h1> {{ appointment.name }} </h1>
<hr>
    <form action="{{ url_for("subscription")}}" method="POST">
        <div class="row">
            <div class="col-xs-3 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Chooose date</div>
                    <div class="panel-body">
                    {% for date in dates %}
                    <div class="radio">
                        <label>
                            <input type='radio' name='dates' value='{{ date.id }}' required>{{ date.date }}
                        </label>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Choose time</div>
                    <div class="panel-body">
                    {% for time in times %}
                    <div class="radio">
                        <label>
                            <input type='radio' name='times' value='{{ time.id }}' required>
                                {{time.start.strftime('%H:%M')}} - {{time.end.strftime('%H:%M')}}
                        </label>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6 col-md-8">
                    <input type="text" class="form-control" name="fullname" placeholder="Full name" maxlength="50" required/>
                    <br>
                    <input type="email" class="form-control" name="email" placeholder="Email" required/>
                    <input type="hidden" class="form-control" name="appointment" value="{{ appointment.id }}">
                <br>
                <button type="submit" class="btn btn-lg btn-default">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}